* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #eaebf3;
	font-family: 'Segoe UI', sans-serif;
}

html,
body {
	background: #eaebf3;
}

body {
	padding-top: 3%;
}

.container {
	max-width: 1400px;
}

/* HEADER */
/* Logo */

.logo {
	color: #fff;
	display: flex;
}

.logo img {
	display: inline-block;
	overflow: hidden;
	transform: rotate(25deg);
	height: 93%;
	width: 8%;
	border: .3rem solid #eaebf3;
	border-radius: 2px;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, .8), 6px 6px 10px rgba(0, 0, 0, .2);
}

.logo p {
	font-size: 2.4rem;
	font-weight: bold;
	display: inline-block;
	margin: auto 0 auto 7%;
	letter-spacing: .6rem;
}

/* Dark Mode */
.dark-mode {
	align-self: center;
	text-align: right;
}

.dark-mode p {
	display: inline;
	font-size: 1.4rem;
	font-weight: 600;
	background: linear-gradient(#ff8585, #ff7192);
	background-clip: text;
	color: rgba(0, 0, 0, 0);
	margin-right: 2%;
}

.dark-mode .outside {
	display: inline-block;
	position: relative;
	max-height: 30px;
}

.outside #dark-toggle {
	width: 80px;
	height: 35px;
	position: absolute;
	left: 0;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}

.outside .cover {
	width: 80px;
	height: 35px;
	border-radius: 30px;
	box-shadow: inset 3px 3px 12px rgba(0, 0, 0, .1), inset -2px -2px 15px rgba(255, 255, 255, .9);
	position: relative;
	padding: 6px;
}

.cover .little-ball {
	background: linear-gradient(#ff8585, #ff7192);
	height: 100%;
	width: 35%;
	border-radius: 50%;
}
