* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

h2 {
	background: linear-gradient(#ff8585, #ff7192);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: rgba(0, 0, 0, 0);
	margin-bottom: .8rem;
	line-height: 1.6;
}

.container {
	max-width: 1400px;
	height: 100vh;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
}
/* Morph-style classes and id's */
.light {
	background: #eaebf3;
}

.dark {
	background: #5a5a5d;
}

.light-up {
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 1), 6px 6px 10px rgba(0, 0, 0, .2);
}

.dark-up {
	box-shadow: -6px -6px 10px rgba(255, 255, 255, .2), 6px 6px 10px rgba(0, 0, 0, .2);
}

.light-down {
	box-shadow: inset 3px 3px 12px rgba(0, 0, 0, .2), inset -2px -2px 15px rgba(255, 255, 255, .9);
	border: none;
	background: transparent;
	border-radius: 30px;
}

.dark-down {
	box-shadow: inset 3px 3px 12px rgba(0, 0, 0, .6), inset -2px -2px 15px rgba(255, 255, 255, .2);
	border: none;
	background: transparent;
	border-radius: 30px;
}

/* HEADER */
/* Logo */

.logo {
	display: flex;
}

.logo img {
	display: inline-block;
	overflow: hidden;
	transform: rotate(25deg);
	max-height: 93%;
	max-width: 8%;
	border: .3rem solid #eaebf3;
	border-color: transparent;
	border-radius: 2px;
}

.logo p {
	background: linear-gradient(#ff8585, #ff7192);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: rgba(0, 0, 0, 0);
	font-size: 240%;
	font-weight: bold;
	display: inline-block;
	margin: auto 0 auto 7%;
	letter-spacing: .6rem;
}

/* Dark Mode */
.dark-mode {
	align-self: center;
	text-align: right;
}

.dark-mode p {
	display: inline;
	font-size: 1.4rem;
	font-weight: 600;
	background: linear-gradient(#ff8585, #ff7192);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: rgba(0, 0, 0, 0);
	margin-right: 2%;
}

.dark-mode .outside {
	display: inline-block;
	position: relative;
	max-height: 30px;
}

.outside #darkToggle {
	width: 80px;
	height: 35px;
	position: absolute;
	left: 0;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}

.outside .cover {
	width: 80px;
	height: 35px;
	padding: 6px;
}

.cover .little-ball {
	background: linear-gradient(#ff8585, #ff7192);
	height: 100%;
	width: 35%;
	border-radius: 50%;
}

.testing-push {
	padding-top: 100px;
}

.white {
	color: #fff;
}

.toggle {
	transform: translateX(180%);
}

/* Player names */

#enter-name {
	padding-top: 10%;
	text-align: center;
}

#enter-name .col {
	justify-self: center;
}

#enter-name h2 {
	text-align: left;
	padding-left: 110px;
}

.text {
	border-radius: 60px;
	height: 70px;
	width: 500px;
	padding: 20px 30px;
	font-size: 1.4rem;
	letter-spacing: 3px;
}

.text:focus {
	background: linear-gradient(#ff8585, #ff7192);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: rgba(0, 0, 0, 0);
}

/* Start Game */

#start-game {
	padding-top: 60px;
	text-align: center;
}

.btn {
	border-radius: 40px;
	height: 65px;
	width: 20%;
}

.btn .gradient {
	background: linear-gradient(#ff8585, #ff7192);
	border-radius: 40px;
	padding: .6rem .9rem;
	color: #fff;
	font-weight: 600;
}

/* Footer */
footer {
	padding-top: 15%;
	text-align: center;
	bottom: 0;
	max-width: 100%;
}

footer p {
	display: inline;
	background: linear-gradient(#ff8585, #ff7192);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: rgba(0, 0, 0, 0);
}

footer .krm-holder {
	display: inline-block;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin-left: 30px;
}

footer .krm-holder img {
	height: 80%;
	width: auto;
	margin: .3rem;
}
